infra/n8n-workflow-sample.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "options": {}
      },
      "id": "e7b0e1d5-7b5a-4b6a-9b1c-7b5a4b6a9b1c",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "messages.upsert"
            }
          ]
        }
      },
      "id": "f8c2f2d6-8c6b-5c7b-ac2d-8c6b5c7bac2d",
      "name": "Is Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3-70b-8192\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente de pedidos do Kero Delivery. Extraia o pedido em JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Groq AI Order Extractor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 550, 300 ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [ { "node": "Is Message?", "type": "main", "index": 0 } ]
      ]
    },
    "Is Message?": {
      "main": [
        [ { "node": "Groq AI Order Extractor", "type": "main", "index": 0 } ]
      ]
    }
  }
}
